@font-face {
  font-family: 'icomoon';
  src: url('/assets/skins/lightgray/fonts/icomoon.eot?245ex3');
  src: url('/assets/skins/lightgray/fonts/icomoon.eot?245ex3#iefix') format('embedded-opentype'),
    url('/assets/skins/lightgray/fonts/icomoon.ttf?245ex3') format('truetype'),
    url('/assets/skins/lightgray/fonts/icomoon.woff?245ex3') format('woff'),
    url('/assets/skins/lightgray/fonts/icomoon.svg?245ex3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-buy-screen::before {
  content: '\e909';
}
.icon-laptop::before {
  content: '\e90a';
}
.icon-bag::before {
  content: '\e900';
}
.icon-bag-w-label::before {
  content: '\e901';
}
.icon-bill::before {
  content: '\e902';
}
.icon-calendar-bell::before {
  content: '\e903';
}
.icon-category::before {
  content: '\e904';
}
.icon-delivery-boy::before {
  content: '\e905';
}
.icon-email-fi::before {
  content: '\e906';
}
.icon-menu::before {
  content: '\e907';
}
.icon-sales-screen::before {
  content: '\e908';
}
.icon-barta::before {
  content: '\e967';
}
